[user]
	email = arnav@anything.com
	name = Arnav Surve
[url "git@github.com:"]
	insteadOf = https://github.com/
[merge]
    conflictStyle = diff3
[merge "mergiraf"]
    name = mergiraf
    driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L
[core]
    pager = delta
[interactive]
    diffFilter = delta
[split-diffs]
	theme-name = dark
