[user]
	email = arnav@anything.com
	name = Arnav Surve
[url "git@github.com:"]
	insteadOf = https://github.com/
[merge]
    conflictStyle = diff3
[core]
    pager = delta
[interactive]
    diffFilter = delta
[split-diffs]
	theme-name = dark
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
